<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
    
    <script language="javascript" type="text/javascript" src="static/box2d-html5.js"></script>
    <script language="javascript" type="text/javascript" src="static/box2d-helper.js"></script>
    
    <script language="javascript" type="text/javascript" src="static/boundary.js"></script>
    <script language="javascript" type="text/javascript" src="static/box.js"></script>
    <script language="javascript" type="text/javascript" src="static/sketch.js"></script>
    
  </head>
  <body>
    <script src="static/sketch.js"></script>
  </body>
</html>
